.custom-button {
    background-color: #2962FA;
    color: white;
    padding: 1rem;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;      /* всё по центру по вертикали */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;

    /* одинаковая ширина */
    width: 100%;
    box-sizing: border-box;

    /* одинаковая высота для обеих кнопок */
    height: 120px;            /* при необходимости подстрой: 110 / 130 / 140 */
}

.custom-button:hover {
    background-color: #1d39c4;
}

.custom-button .icon {
    font-size: 1.5rem;
}

.custom-button .text {
    flex-grow: 1;
    padding: 0 1rem;
}

